@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
  --black-primary: #111827;
  --gray-secondary: #374151;
  --gray-accent: #9ca3af;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-black-primary: var(--black-primary);
  --color-gray-secondary: var(--gray-secondary);
  --color-gray-accent: var(--gray-accent);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
